body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}




.a {
    background: #e0e0e0;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.a a {
    margin: 0 15px;
    text-decoration: none;
    color: #004080;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s;
}

.contact-section{
    text-align: center;
    background-color: #c6d2dd;
}

.contact-section a{
    margin: 10%;
    text-decoration: aqua;
}

